<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easy contract chat</title>
    <style>
        a {
            text-decoration: none;
            color: rgb(60, 161, 65);
        }
    </style>
</head>
<body>
    <div class="container">
        <div id="chat">
        </div>
        <p>Screen chat</p>
        <a href="chat">Go to easy chat | test ui ux</a>
    </div>
    <script>
        // function load_window_chat() {
        //     document.getElementById("chat").innerHTML='<object type="text/html" data="chat.html" ></object>';
        // }
        // load_window_chat()
        // d hieu cach import file html thuan
    </script>
</body>
</html>